html{
  font-size: 2.4vw !important;
}
.LinearProgress div[role="progressbar"] div {
  background: linear-gradient(#22b6eb, #0095a7) !important;
}

.LinearProgress div[role="progressbar"] {
  background: linear-gradient(#3e3e3e, #666666) !important;

  >div {
    border-radius: 10rem 0 0 10rem;
  }
}


.catch-exception-container {
  position: absolute;
  width: 100%;
  height: 100%;

  div[role="document"] {
    >div {
      background: transparent
    }
  }
}

#small-game {
  position: fixed;
  left: 0;
  top: 0;
}

canvas {
  // width: 100vh !important;
  // height: 100vw !important;
  // left: 50% !important;
  // top: 50% !important;
  // margin-left: -50vh !important;
  // margin-top: -50vw !important;
  // transform-origin: 50% 50% !important;
  // transform: rotate(-90deg) !important;
}


.shake {
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.shake.active {
  font-size: 1.4rem;
  -webkit-animation-name: shake-base;
  animation-name: shake-base;
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-play-state: running;
  animation-play-state: running
}

@keyframes shake-base {
  0% {
    transform: translate(0px, 0px) rotate(0deg)
  }

  1.35% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg)
  }

  2.7% {
    transform: translate(-2.5px, -1.5px) rotate(-1.5deg)
  }

  4.05% {
    transform: translate(-0.5px, 1.5px) rotate(-1.5deg)
  }

  5.4% {
    transform: translate(1.5px, -0.5px) rotate(-1.5deg)
  }

  6.75% {
    transform: translate(0.5px, -0.5px) rotate(-0.5deg)
  }

  8.1% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg)
  }

  9.45% {
    transform: translate(-0.5px, 0.5px) rotate(-1.5deg)
  }

  10.8% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg)
  }

  12.15% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg)
  }

  13.5% {
    transform: translate(-2.5px, 0.5px) rotate(0.5deg)
  }

  14.85% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg)
  }

  16.2% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg)
  }

  17.55% {
    transform: translate(-2.5px, 1.5px) rotate(-0.5deg)
  }

  18.9% {
    transform: translate(-2.5px, 0.5px) rotate(-0.5deg)
  }

  20.25% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg)
  }

  21.6% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg)
  }

  22.95% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg)
  }

  24.3% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg)
  }

  25.65% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg)
  }

  27% {
    transform: translate(0.5px, -2.5px) rotate(-0.5deg)
  }

  28.35% {
    transform: translate(-2.5px, -0.5px) rotate(-0.5deg)
  }

  29.7% {
    transform: translate(-2.5px, -0.5px) rotate(-0.5deg)
  }

  31.05% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg)
  }

  32.4% {
    transform: translate(-2.5px, 1.5px) rotate(-0.5deg)
  }

  33.75% {
    transform: translate(-0.5px, -2.5px) rotate(0.5deg)
  }

  35.1% {
    transform: translate(0.5px, 1.5px) rotate(-1.5deg)
  }

  36.45% {
    transform: translate(-0.5px, -2.5px) rotate(0.5deg)
  }

  37.8% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg)
  }

  39.15% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg)
  }

  40.5% {
    transform: translate(0.5px, -2.5px) rotate(0.5deg)
  }

  41.85% {
    transform: translate(1.5px, -2.5px) rotate(0.5deg)
  }

  43.2% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg)
  }

  44.55% {
    transform: translate(-0.5px, 1.5px) rotate(-0.5deg)
  }

  45.9% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg)
  }

  47.25% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg)
  }

  48.6% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg)
  }

  49.95% {
    transform: translate(1.5px, -1.5px) rotate(-1.5deg)
  }

  51.3% {
    transform: translate(1.5px, 1.5px) rotate(-1.5deg)
  }

  52.65% {
    transform: translate(-2.5px, -1.5px) rotate(-1.5deg)
  }

  54% {
    transform: translate(0.5px, 1.5px) rotate(-0.5deg)
  }

  55.35% {
    transform: translate(-2.5px, -1.5px) rotate(0.5deg)
  }

  56.7% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg)
  }

  58.05% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg)
  }

  59.4% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg)
  }

  60.75% {
    transform: translate(0.5px, -1.5px) rotate(-1.5deg)
  }

  62.1% {
    transform: translate(0.5px, 0.5px) rotate(-1.5deg)
  }

  63.45% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg)
  }

  64.8% {
    transform: translate(-1.5px, -1.5px) rotate(-1.5deg)
  }

  66.15% {
    transform: translate(-2.5px, -0.5px) rotate(-1.5deg)
  }

  67.5% {
    transform: translate(0px, 0px) rotate(0deg)
  }
}

@-webkit-keyframes shake-rotate {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg)
  }

  2% {
    -webkit-transform: translate(0px, 0px) rotate(-5.5deg)
  }

  4% {
    -webkit-transform: translate(0px, 0px) rotate(1.5deg)
  }

  6% {
    -webkit-transform: translate(0px, 0px) rotate(-7.5deg)
  }

  8% {
    -webkit-transform: translate(0px, 0px) rotate(-7.5deg)
  }

  10% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg)
  }

  12% {
    -webkit-transform: translate(0px, 0px) rotate(-5.5deg)
  }

  14% {
    -webkit-transform: translate(0px, 0px) rotate(-4.5deg)
  }

  16% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg)
  }

  18% {
    -webkit-transform: translate(0px, 0px) rotate(3.5deg)
  }

  20% {
    -webkit-transform: translate(0px, 0px) rotate(-6.5deg)
  }

  22% {
    -webkit-transform: translate(0px, 0px) rotate(-5.5deg)
  }

  24% {
    -webkit-transform: translate(0px, 0px) rotate(3.5deg)
  }

  26% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg)
  }

  28% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg)
  }

  30% {
    -webkit-transform: translate(0px, 0px) rotate(5.5deg)
  }

  32% {
    -webkit-transform: translate(0px, 0px) rotate(3.5deg)
  }

  34% {
    -webkit-transform: translate(0px, 0px) rotate(-5.5deg)
  }

  36% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg)
  }

  38% {
    -webkit-transform: translate(0px, 0px) rotate(-1.5deg)
  }

  40% {
    -webkit-transform: translate(0px, 0px) rotate(4.5deg)
  }

  42% {
    -webkit-transform: translate(0px, 0px) rotate(6.5deg)
  }

  44% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg)
  }

  46% {
    -webkit-transform: translate(0px, 0px) rotate(4.5deg)
  }

  48% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg)
  }

  50% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg)
  }

  52% {
    -webkit-transform: translate(0px, 0px) rotate(-7.5deg)
  }

  54% {
    -webkit-transform: translate(0px, 0px) rotate(-1.5deg)
  }

  56% {
    -webkit-transform: translate(0px, 0px) rotate(0.5deg)
  }

  58% {
    -webkit-transform: translate(0px, 0px) rotate(6.5deg)
  }

  60% {
    -webkit-transform: translate(0px, 0px) rotate(-3.5deg)
  }

  62% {
    -webkit-transform: translate(0px, 0px) rotate(-6.5deg)
  }

  64% {
    -webkit-transform: translate(0px, 0px) rotate(1.5deg)
  }

  66% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg)
  }

  68% {
    -webkit-transform: translate(0px, 0px) rotate(2.5deg)
  }

  70% {
    -webkit-transform: translate(0px, 0px) rotate(-4.5deg)
  }

  72% {
    -webkit-transform: translate(0px, 0px) rotate(-1.5deg)
  }

  74% {
    -webkit-transform: translate(0px, 0px) rotate(-6.5deg)
  }

  76% {
    -webkit-transform: translate(0px, 0px) rotate(3.5deg)
  }

  78% {
    -webkit-transform: translate(0px, 0px) rotate(-5.5deg)
  }

  80% {
    -webkit-transform: translate(0px, 0px) rotate(1.5deg)
  }

  82% {
    -webkit-transform: translate(0px, 0px) rotate(4.5deg)
  }

  84% {
    -webkit-transform: translate(0px, 0px) rotate(-1.5deg)
  }

  86% {
    -webkit-transform: translate(0px, 0px) rotate(-2.5deg)
  }

  88% {
    -webkit-transform: translate(0px, 0px) rotate(-3.5deg)
  }

  90% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg)
  }

  92% {
    -webkit-transform: translate(0px, 0px) rotate(-0.5deg)
  }

  94% {
    -webkit-transform: translate(0px, 0px) rotate(-6.5deg)
  }

  96% {
    -webkit-transform: translate(0px, 0px) rotate(-7.5deg)
  }

  98% {
    -webkit-transform: translate(0px, 0px) rotate(6.5deg)
  }
}

@keyframes shake-rotate {
  0% {
    transform: translate(0px, 0px) rotate(0deg)
  }

  2% {
    transform: translate(0px, 0px) rotate(2.5deg)
  }

  4% {
    transform: translate(0px, 0px) rotate(-4.5deg)
  }

  6% {
    transform: translate(0px, 0px) rotate(2.5deg)
  }

  8% {
    transform: translate(0px, 0px) rotate(4.5deg)
  }

  10% {
    transform: translate(0px, 0px) rotate(-5.5deg)
  }

  12% {
    transform: translate(0px, 0px) rotate(-3.5deg)
  }

  14% {
    transform: translate(0px, 0px) rotate(-1.5deg)
  }

  16% {
    transform: translate(0px, 0px) rotate(-1.5deg)
  }

  18% {
    transform: translate(0px, 0px) rotate(2.5deg)
  }

  20% {
    transform: translate(0px, 0px) rotate(-0.5deg)
  }

  22% {
    transform: translate(0px, 0px) rotate(6.5deg)
  }

  24% {
    transform: translate(0px, 0px) rotate(0.5deg)
  }

  26% {
    transform: translate(0px, 0px) rotate(-5.5deg)
  }

  28% {
    transform: translate(0px, 0px) rotate(-4.5deg)
  }

  30% {
    transform: translate(0px, 0px) rotate(-1.5deg)
  }

  32% {
    transform: translate(0px, 0px) rotate(2.5deg)
  }

  34% {
    transform: translate(0px, 0px) rotate(0.5deg)
  }

  36% {
    transform: translate(0px, 0px) rotate(6.5deg)
  }

  38% {
    transform: translate(0px, 0px) rotate(-6.5deg)
  }

  40% {
    transform: translate(0px, 0px) rotate(3.5deg)
  }

  42% {
    transform: translate(0px, 0px) rotate(-4.5deg)
  }

  44% {
    transform: translate(0px, 0px) rotate(5.5deg)
  }

  46% {
    transform: translate(0px, 0px) rotate(2.5deg)
  }

  48% {
    transform: translate(0px, 0px) rotate(2.5deg)
  }

  50% {
    transform: translate(0px, 0px) rotate(5.5deg)
  }

  52% {
    transform: translate(0px, 0px) rotate(-1.5deg)
  }

  54% {
    transform: translate(0px, 0px) rotate(5.5deg)
  }

  56% {
    transform: translate(0px, 0px) rotate(-7.5deg)
  }

  58% {
    transform: translate(0px, 0px) rotate(2.5deg)
  }

  60% {
    transform: translate(0px, 0px) rotate(6.5deg)
  }

  62% {
    transform: translate(0px, 0px) rotate(1.5deg)
  }

  64% {
    transform: translate(0px, 0px) rotate(-7.5deg)
  }

  66% {
    transform: translate(0px, 0px) rotate(-2.5deg)
  }

  68% {
    transform: translate(0px, 0px) rotate(3.5deg)
  }

  70% {
    transform: translate(0px, 0px) rotate(-4.5deg)
  }

  72% {
    transform: translate(0px, 0px) rotate(2.5deg)
  }

  74% {
    transform: translate(0px, 0px) rotate(2.5deg)
  }

  76% {
    transform: translate(0px, 0px) rotate(-2.5deg)
  }

  78% {
    transform: translate(0px, 0px) rotate(-0.5deg)
  }

  80% {
    transform: translate(0px, 0px) rotate(-3.5deg)
  }

  82% {
    transform: translate(0px, 0px) rotate(5.5deg)
  }

  84% {
    transform: translate(0px, 0px) rotate(-1.5deg)
  }

  86% {
    transform: translate(0px, 0px) rotate(-1.5deg)
  }

  88% {
    transform: translate(0px, 0px) rotate(4.5deg)
  }

  90% {
    transform: translate(0px, 0px) rotate(5.5deg)
  }

  92% {
    transform: translate(0px, 0px) rotate(4.5deg)
  }

  94% {
    transform: translate(0px, 0px) rotate(-1.5deg)
  }

  96% {
    transform: translate(0px, 0px) rotate(3.5deg)
  }

  98% {
    transform: translate(0px, 0px) rotate(-7.5deg)
  }
}
